.success-popup#js-success-popup.mfp-hide
  h4.success-popup__title Спасибо!
   p Ваша заявка принята
  p.success-popup__text Пока вы ждёте ответа от менеджера, посмотрите наши  публикации в соцсетях
  include /layout/socials/socials
  .success-popup__close-btn.callback-form__close-btn
