header.header
  a.header__logo
    | APP
    span
      |-publisher
  .header__content
    .header__close-btn.js-close-menu
    a.header__content-logo.header__logo
      | APP
      span
        |-publisher
    nav.header__nav
      ul.header__nav-items
        li.header__nav-item Услуги
        li.header__nav-item Проекты
        li.header__nav-item Компания
        li.header__nav-item Контакты
        li.header__nav-item Обучение
    .header__contacts
      .header__contacts-item
        .header__contacts-title Телефон
        a(href="tel: +7 495 100 80 02").header__contacts-content +7 495 100 80 02
      .header__contacts-item
        .header__contacts-title E-mail
        a(href="mailto: go@app-publisher.ru").header__contacts-content go@app-publisher.ru
    .header__actions
      a(href="#callback-popup").button.header__button.js-callback-popup Оставить заявку
      .header__language-active.js-show-languages RU
        .header__language-wrapper
          ul.header__language-list
            li.header__language English
            li.header__language Deutsch
            li.header__language.header__language--active Русский
            li.header__language Italiano

  .header__burger.js-open-menu
    span
