-
  var helpItems =
    [
      'Нужен издатель',
      'ASO продвижение PlayМаркет / AppStore',
      'Аудит',
      'Рекламный трафик'
    ]

-
  var budgetItems =
    [
      'Бюджета нет - нужен издатель',
      'До 500 $',
      '500 - 1 500 $',
      '1 500 - 5 000 $',
      '5 000 - 10 00 $',
      '10 000 - 40 000 $',
      'Более 40 000 $'
    ]


.callback-form
  header.callback-form__header
    h3.callback-form__title.title Связаться с нами
    p.callback-form__subtitle заполните форму  и мы вам перезвоним
  form(novalidate).callback-form__form
    div.callback-form__input--half
      input(type="text" name='name' placeholder='Имя' autocomplete='off').callback-form__input
    div.callback-form__input--half
      input(type="tel" name='phone' placeholder='Телефон' autocomplete='off').callback-form__input
    div.callback-form__input--half
      input(type="email" name='email' placeholder='E-mail' autocomplete='off').callback-form__input
    div.callback-form__input--half
      input(type="text" placeholder='URL-ссылка на приложение' autocomplete='off').callback-form__input
    .callback-form__list.js-help-list
      .callback-form__list-head.callback-form__input(data-title='Чем мы можем помочь?') Чем мы можем помочь?
      input(type="hidden" name='query')
      .callback-form__list-items.callback-form__input
        each item in helpItems
          .callback-form__list-item=item

    .callback-form__list.callback-form__list--budget.js-budget-list
      .callback-form__list-head.callback-form__input(data-title='Укажите рекламный бюджет') Укажите рекламный бюджет
      input(type="hidden" name='budget')
      .callback-form__list-items.callback-form__input
        each item in budgetItems
          .callback-form__list-item=item
    .callback-form__agreement
      input(type='checkbox' id='agree' name='agree' checked).callback-form__agreement-checkbox
      label(for="agree").callback-form__agreement-label
      .callback-form__agreement-text
        | Я согласен(-на) на &nbsp;
        a(href="/policy") обработку персональных данных.

    button(type="submit").button.callback-form__button Отправить

  button.callback-form__close-btn
  img(src="images/callback-imgs.png", alt="").callback__img


