include ../../../layout/work-card/work-card

- var cards = [{img:'images/work-1.png', title: 'Аудит', text: 'Анализируем вашу игру или приложение:  тематику, конкурентов,  UI/UX дизайн, показатели  CPI, Retention и принимаем решение о продвижении'},{img:'images/work-2.png', title: 'Трафик и установки', text: 'Делаем предложение в формате взаимовыгодного сотрудничества - вы получаете установки и пользователей своей игры или приложения'},{img:'images/work-3.png', title: 'Поддержка', text: 'Индивидуальная работа с каждой командой или разработчиком, которые получают маркетинговую поддержку (в том числе — и экспертную), доступ к аналитике и сервисам'},{img:'images/work-4.png', title: 'Экспертиза', text: 'Услуги по ASO оптимизации любых приложений, аудиты текущего состояния продукта, маркетинговые тесты и обеспечиваем трафик игры или приложения'}]

section.work
  h2.title.work__title Как мы работаем?
  .work__cards
    each card in cards
      +work-card(card.img, card.title, card.text)

