extends /layout/app

block content
  include /pages/home/about/about
  include /pages/home/projects/projects
  include /pages/home/work/work
  include /pages/home/expertise/expertise
  include /pages/home/callback/callback
  include /pages/home/contacts/contacts
