- var map = {coordinates : '48.033655, 37.784363', adress: 'Artema 138b', href: 'images/map-point.svg'}

.map
  #object(hidden data-coordinates=map.coordinates data-adress=map.adress data-href=map.href)
  #map.map__wrapper
