section.about
  .about__container
    .about__content
      .about__details
        h2.title.about__title Продвигаем и издаём игры и приложения
        p.about__subtitle Тщательно анализируем результаты, грамотно поддерживаем в развитии и монетизизации вашего продукта
        .about__actions
          a(href="#callback-popup").button.about__button.js-callback-popup Узнать стоимость
          button.about__promo-button
            svg(width='34' height='34' viewbox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg')
              circle(cx='16.8447' cy='16.8294' r='16.5' fill='#5360FE')
              path(d='M12.9821 9.94443L25.5175 17.1817L12.9821 24.4191L12.9821 9.94443Z' fill='white')
            | Смотреть промо
      img(src="images/about-phone-1.png", alt="").about__img

    .about__content.about__content--right
      img(src="images/about-phone-2.png", alt="").about__img.about__img--right
      .about__details.about__details--right
        h2.title.about__title.about__title--right Чем мы занимаемся?
        .about__subtitle.about__subtitle--right
          p App-Publisher - это Digital-агентство и GameDev студия с уникальными разработками, основанная в 2010 году.
          p Наша команда ищет перспективные проекты по России, СНГ и всему миру, и оказывает помощь в их продвижении и локализации для иностранных рынков.
        .about__block
          img(src="images/about-block-1.png", alt="")
          h3 40 000 000+ установок наших игр и приложений по всему миру

        .about__block
          img(src="images/about-block-2.png", alt="")
          h3 10 лет успешного опыта продвижения проектов
