include ../../../layout/expertise-card/expertise-card

-
 var cards =
    [
      {
        video: 'https://www.youtube.com/embed/6B_6K-splRU?autoplay=1&showinfo=0&controls=1',
        preview: 'images/exp1.png',
        text: 'Facebook реклама игр и приложений. Реклама в инстаграм в плюс'
      },
      {
        video: 'https://www.youtube.com/embed/6B_6K-splRU?autoplay=1&showinfo=0&controls=1',
        preview: 'images/exp2.png',
        text: 'Продвижение мобильных приложений и игр - Бесплатные способы ч.1'
      },
      {
        video: 'https://www.youtube.com/embed/6B_6K-splRU?autoplay=1&showinfo=0&controls=1',
        preview: 'images/exp3.png',
        text: 'Разработка игры в одиночку: Hyper casual игры - Заработок на геймдев'
      },
    ]


section.expertise
    h2.title.expertise__title Делимся экспертизой
    p.expertise__subtitle рассказываем о продвижении мобильных игр и приложений

    .expertise__slider
      .expertise-swiper-container.swiper-container
        .swiper-wrapper
          each card in cards
            +expertise-card(card.video, card.preview, card.text)
